@import "mixins";
@import "variables";

html {
  font-size: 16px;
  line-height: 30px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  color: $primary-color1;
  font-weight: 500;
  background: #E5E5E5;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2rem;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.container {
  width: 100%;
}

a {
  text-decoration: none;
  color: $primary-color1;
}
a:hover {
  font-weight: $font-weight-semi-bold;
}

@include for-large {
  .container {
    max-width: 960px;
  }
}

@include for-extra-large {
  h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }
  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
  .container {
    max-width: 1260px;
  }
  html {
    font-size: 16px;
  }


}

.default-text {
  text-decoration: none;
  color: $primary-color1;
}
.default-text-on-black{
  background-color: $primary-color1;
  text-decoration: none;
  color: #F0ECEC;
}

.ddb-picture{
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;

}

* {
  box-sizing: border-box;
}
